{% extends "tracker/base.html" %}
{% load static %}

{% block title %}Add Transaction{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Add Transaction</h1>

        {% if messages %}
            <div class="alert alert-info mt-4">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_date">Transaction Date:</label>
                {{ form.date|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="id_amount">Amount Spent:</label>
                {{ form.amount|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="id_category">Category:</label>
                {{ form.category|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                {{ form.description|add_class:"form-control" }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Add Transaction</button>
        </form>
    </div>
{% endblock %}
