{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}

    <h1>Edit Transaction</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Display the form fields -->
        {{ form.as_p }}
        
        <!-- Submit button to save the changes -->
        <button type="submit">Save Changes</button>
        
        <!-- Cancel button to go back to the transactions list -->
        
        <a href="{% url 'transaction_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
